:root {
    --font-primary: 'Montserrat', sans-serif;
    --bkgn-color: #F7F7F7;
    --completed-path: #4bb543;
    --not-completed-path: #bbb;
    --headings: #333333;
    --active-item: #607D8B;
}

body {
    font-family: var(--font-primary);
    font-weight: 600;
    background-color: var(--bkgn-color);
}

.navbar-nav .nav-link {
    font-size: 1.2rem; 
}


/* Brand name css */
.navbar-brand{
    font-size: 1.8rem;
}


/* About instagram icon */
#insta-icon {
    padding-top: 0.45rem
}

#insta-icon img {
    transition: opacity 0.3s ease; 
    display: inline-block;
    vertical-align: middle;
}

#insta-icon img:hover {
    opacity: 0.5; 
}


/* Headings */
h1.display-1{
    font-weight: 600;
    color: var(--headings);
}

h4.display-4,h5.display-5{
    font-weight: 600;
    color: var(--headings);
}



p{
    font-weight: 500;
    color: #4A4A4A;
}

.text-section-center {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    min-height: 100vh;          
    text-align: left;       
}

.text-section-center-title {
    align-self: flex-start; 
    margin: 0;             
}

/*About section animation */
#about{
    opacity: 0;
    transform: translateX(-100%); 
    animation: slideInFromLeft 1s ease-out forwards;
}

@keyframes slideInFromLeft {
    to {
        transform: translateX(0); 
        opacity: 1; 
    }
}

/*3D item container */
#container3D{
    margin-top: 9em;
    width: 50vw;        
    height: 50vh;     
    position: relative; 
}


#step_progress_bar {
    height: 15em;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: space-around;
    align-content: center;
    margin-right: 1em; 
    margin-top: 3em;
}

.dot_completed, .dot_notcompleted {
    position: relative;
    height: 1.5em; 
    width: 1.5em;
    background-color: var(--success); 
    border-radius: 50%; 
}

.dot_notcompleted {
    background-color: var(--not-completed-path);
}

.dot_completed::after{
    position: absolute;
    content: "";
    border-bottom: 5em solid var(--success); /* Line below completed dot */
    width: 20%;
    left: 50%; 
    transform: translateX(-50%); 
}

.form{
    width: 40em;
    display: flex;
    flex-direction: column;
}

.form input{
    margin-bottom: 1.2em;
}

.form textarea, .form input{
    border-radius: 8px;
    border-color: transparent;
}

.form button {
    display: block;
    margin-top: 2em;
    width: 100%;
    padding: 12px 20px;
    border-radius: 8px;
    border-color: #000000;
    background-color: #4DB6AC;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
  
    transition: 300ms all;
  }

  .form button:hover {
    background-color: #f7f7f7;
  }


/*Added things on mobile devices */
/*To prevent the h1 to hide under the fixed bar*/
@media (max-width: 767.98px) {
    .navbar {
        position: relative !important;
        margin-bottom: 5rem; 
    }

    #container3D{
        margin-top: 5em !important;
    }

    #step_progress_bar {
        height: 20em !important;
        margin-top: 0em !important;
    }

    .dot_completed::after{
        border-bottom: 7em solid #4bb543 !important;
    }
}

@media (max-width: 575.98px) {
    #home h1{
        margin-top: 10rem !important;
    }

    #container3D{
        margin-top: 5em !important;
        margin-bottom: 7em !important;
    }

    #about h4{
        margin-top: 10rem !important;
    }

    .form{
        width: 20em;
    }
}

/* To include what I've putted in the middle of the navbar in the burger menu*/
@media (min-width: 992px) {
    .navbar-nav {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
    }
  }