{% extends "base.html" %} 
{% load static %}
{% block title %} My Portfolio {% endblock %}
{% block content %}
<script type="module" src="{% static 'home/js/main.js' %} "></script>
<script type="module" src="{% static 'home/js/active_scroll_section.js' %} "></script>
<script type="module" src="{% static 'home/js/type_animation.js' %} "></script>
<section class="d-flex align-items-center justify-content-center vh-100 flex-column flex-md-row" id="home">
    <div class="typed-text"><h1 class="display-1 text-left mt-5" >Hello, <br> I'm <strong>Marco Brigo</strong></h1></div>
    <h1 class="display-1 text-left mt-5" >&gt;<span class = "h1_title"></span></h1>
    <div id="container3D"></div>
</section>

<section class="text-section-center"  id="about">
    <h4 class="display-4 text-section-center-title">Me, myself and I</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et sem elementum, tempor nisl nec, aliquet libero. Aenean in velit eu nibh blandit pretium sit amet molestie nisi. Cras porttitor felis ac ligula tincidunt, sed ornare libero pretium. Donec efficitur quis justo eu auctor. Vestibulum interdum ipsum ultricies, imperdiet turpis nec, commodo massa. Nulla vitae nisi ut metus molestie luctus. Vivamus quis congue risus. Morbi dolor velit, vehicula eget consectetur eu, hendrerit id erat.Nulla aliquet ante non ornare gravida. Maecenas scelerisque tellus a euismod gravida. Ut hendrerit quam ac arcu finibus finibus. Etiam vulputate porttitor lectus, in tristique risus.</p>
</section>

<section class="d-flex align-items-center justify-content-center vh-100 flex-row" id="edu">
     <div id="step_progress_bar">
        <span class="dot_completed"></span>
        <span class="dot_completed"></span>
        <span class="dot_notcompleted"></span>
    </div> 
    <div>
        <h4 class="display-4 text-section-center-title">Education</h4>  
            {% for edu in education %}
                <p class="align-self-start">{{ edu.title }} - {{ edu.description }}<br>
                Started on: {{ edu.start_date }} | Ended on: {% if edu.end_date %} {{ edu.end_date }} {% else %} On going! {% endif %}</p>
            {% endfor %}
    </div>
</section>

<section class="text-section-center" id="techno">
    <h4 class="display-4 text-section-center-title">Skills</h4> 
    <p>In these years I've worked with many technologies and tools thanks to the University courses, projects done in my free time and at the internship. The following list describe technologies and tools with whom I have discrete abilities:</p>
    <h5 class="display-5 text-section-center-title">Technologies that I've worked with:</h5>
    <p class="align-self-start">
    {% for competencie in competencies %}
        {{ competencie.name }}{% if not forloop.last %},{% else %}.{% endif %}
    {% endfor %}
    </p>

    <h5 class="display-5 text-section-center-title">Tools that I've used:</h5>
    <p class="align-self-start">
    {% for tool in tools %}
        {{ tool.name }}{% if not forloop.last %},{% else %}.{% endif %}
    {% endfor %}
    </p>
</section>

<section class="text-section-center" id="contact">
    <h4 class="display-4 text-section-center-title">Contact me</h4>
    <p class="align-self-start"> Reach me compiling the following fields.</p>
    <div class="email-form">
        <form action="{% url 'email' %}" method="POST" class="form">
          {% csrf_token %}
          <input type="text" id="name" name="fullName" placeholder="Your Name" required/>
          <input type="email" id="email" name="email" placeholder="Your Email Address" required/>
          <textarea name="message" id="message" cols="30" rows="10" placeholder="Hi, I want to connect!"></textarea>
          <button type="submit">Send</button>
        </form>
      </div>
</section>
{% endblock %}